.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 120px;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1040px;
  max-height: 150px;
  margin-bottom: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  max-height: 150px;
  max-width: 380px;
  justify-content: flex-start;
}

.info, .ratings {
  width: 520px;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-size: 44px;
  margin-bottom: 20px;
  margin-top: 0;
}

.description {
  color: hsl(303, 10%, 53%);
  font-size: 15px;
  line-height: 1.3em;
  margin: 0;
}

.ratings {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}

.rating-1, .rating-2, .rating-3 {
  background-color: hsl(300, 24%, 96%);
  border-radius: 8px;
  display: flex;
  width: 330px;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
}

.rating-1 {
  align-self: flex-start;
}

.rating-2 {
  align-self: center;
}

.rating-3 {
  align-self: flex-end;
}

.rating-text {
  font-size: 15px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.reviews {
  display: flex;
}

article {
  background-color: hsl(300, 43%, 22%);
  border-radius: 8px;
  padding: 35px;
  height: 150px;
  width: 33%; 
}

.profile-pic {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.buyer {
  display: flex;
  align-items: center;
}

h2 {
  color: white;
  font-weight: 700;
  font-size: 15px;
}

span {
  display: block;
  color: hsl(333, 80%, 67%);
  font-weight: 500;
}

.review-text {
  color: hsl(300, 24%, 96%);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

  .attribution a {
    color: hsl(228, 45%, 44%);
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700

font-family: 'League Spartan', sans-serif;

*/