.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 120px;
}

body > * {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1040px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  justify-content: flex-start;
}

.ratings {
  width: 520px;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  max-height: 330px;
  justify-content: space-between;
}


h1 {
  color: hsl(300, 43%, 22%);
  font-size: 44px;
  margin-bottom: 20px;
  margin-top: 0;
}

.description {
  color: hsl(303, 10%, 53%);
  font-size: 15px;
  line-height: 1.3em;
  margin-bottom: 30px;
}

.rating-1, .rating-2, .rating-3 {
  background-color: hsl(300, 24%, 96%);
  border-radius: 8px;
  display: flex;
  max-width: 330px;
  max-height: 80px;
  min-height: 50px;
  align-items: center;
  column-gap: 25px;
  padding: 0px 20px;
  flex-wrap: wrap;
}

.rating-1 {
  align-self: flex-start;
}

.rating-2 {
  align-self: center;
}

.rating-3 {
  align-self: flex-end;
}

.rating-text {
  font-size: 15px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.reviews {
  display: flex;
  max-width: 1040px;
  min-height: 250px;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  box-sizing: border-box;
  background-color: hsl(300, 43%, 22%);
  border-radius: 8px;
  padding: 20px;
  max-height: 200px;
  max-width: 330px;
  flex-grow: 0;
  min-width: 300px;
}

.colton {
  align-self: flex-start;
}

.irene {
  align-self: center;
}

.anne {
  align-self: flex-end;
}

.profile-pic {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.buyer {
  display: flex;
  align-items: center;
}

h2 {
  color: white;
  font-weight: 700;
  font-size: 15px;
  margin-left: 20px;
}

span {
  display: block;
  color: hsl(333, 80%, 67%);
  font-weight: 500;
  margin-top: 3px;
}

.review-text {
  color: hsl(300, 24%, 96%);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3em;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 50%;
    right: 50%;
    width: fit-content;
    transform: translate(-50%, 0%);
}

  .attribution a {
    color: hsl(228, 45%, 44%);
}

@media all and (max-width: 1229px) {
  .reviews {
    justify-content: space-evenly;
    gap: 20px;
  }
}

@media all and (max-width: 1140px) {
  body {
    padding: 80px 25px;
    width: 400px;
  }

  .reviews {
    justify-content: space-between;
    gap: 20px;
  }

  h1, .description, .rating-text {
    text-align: center;
  }

  .ratings {
    height: 240px;
  }

  .rating-text {
    width: 100%;
    margin: 0 auto;
  }

  .rating-1, .rating-2, .rating-3 {
    padding: 10px 0px;
    align-self: unset;
  }

  .stars {
    margin: 0 auto;
  }

}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700

font-family: 'League Spartan', sans-serif;

*/