.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
}

h1 {
  color: hsl(300, 43%, 22%);
}

.description {
  color: hsl(303, 10%, 53%);
  font-size: 15px;
}

.rating-1, .rating-2, .rating-3 {
  background-color: hsl(300, 24%, 96%);
}

.rating-text {
  font-size: 15px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

article {
  background-color: hsl(300, 43%, 22%);
}

.profile-pic {
  border-radius: 50%;
}

h2 {
  color: white;
  font-weight: 700;
}

span {
  color: hsl(333, 80%, 67%);
  font-weight: 500;
}

.review-text {
  color: hsl(300, 24%, 96%);
  font-weight: 500;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

  .attribution a {
    color: hsl(228, 45%, 44%);
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)
- Weights: 400, 500, 700

font-family: 'League Spartan', sans-serif;

*/